@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');


:root {
  --font-family:'Inter', sans-serif;
  --color-bg: #0B0E15;
  --color-footer: #1C232B;
  --color-navbar: #171A21;
  --color-text: #fff;
}

